<mat-tab-group [(selectedIndex)]="currentTabIndex" animationDuration="0ms">
  <!-- Tab 1: Listagem -->
  <mat-tab label="Visualizar Dívidas">
    <div class="container">
      <app-debt-list></app-debt-list>
    </div>
  </mat-tab>

  <!-- Tab 2: Cadastro -->
  <mat-tab label="Nova Dívida">
    <div class="container">
      <app-debt-create></app-debt-create>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="footer">
  <div class="container">
    <img src="assets/logo.png" alt="Logo" />
    <p>Desafio - Frontend Developer</p>
    <p>Desenvolvido por: <strong>Fabio Lopes</strong></p>
    <p>
      Data: <strong>{{ currentDate }}</strong>
    </p>
  </div>
</div>
