<div class="container">
  <div *ngIf="isLoading" class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!isLoading && debt">
    <div class="header">
      <h2>Detalhes do Título: {{ debt.debtNumber }}</h2>
      <button mat-raised-button color="primary" routerLink="/debts">
        Voltar
      </button>
    </div>

    <mat-card class="debt-card">
      <mat-card-content>
        <div class="debt-info">
          <div><strong>Devedor:</strong> {{ debt.debtorName }}</div>
          <div>
            <strong>CPF:</strong> {{ debt.debtorCPF | mask : "000.000.000-00" }}
          </div>
          <div><strong>% Juros:</strong> {{ debt.interestRate }}% ao mês</div>
          <div><strong>% Multa:</strong> {{ debt.fineRate }}%</div>
        </div>
      </mat-card-content>
    </mat-card>

    <h3>Parcelas</h3>
    <mat-table [dataSource]="debt.installments" class="installments-table">
      <ng-container matColumnDef="installmentNumber">
        <mat-header-cell *matHeaderCellDef>Número</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.installmentNumber
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="dueDate">
        <mat-header-cell *matHeaderCellDef>Vencimento</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.dueDate | date : "dd/MM/yyyy"
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef>Valor</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.value | currency : "BRL"
        }}</mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="['installmentNumber', 'dueDate', 'value']"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: ['installmentNumber', 'dueDate', 'value']"
      ></mat-row>
    </mat-table>

    <div class="total-amount">
      <strong>Valor Total:</strong> {{ calculateTotal() | currency : "BRL" }}
    </div>
  </div>
</div>
